
<style type="text/css">
  .container {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 700px;
  }

  #title {
    text-align: center;
    padding-top: 25px;
    font-size: 65px;
    font-weight: bold;
    color: black;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-shadow: 3px 2px white;
  }

  #date {
    text-align: center;
    font: bold 35px Georgia, serif;
    color: white;
  }

  #back {
    height: 754px;
    margin-top: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://cdn11.g5search.com/assets/399009/huge-WV-6-15-17-Vet-Group-w-JE-2.jpg?1502404533)
  }

  #spatiu {
    height: 100px;
  }
</style>

<div id="back">
  <h1 id="title"> CONTACT </h1>
  <div class="container">

    <h2 id="date">Address: Str. Lunga 73, Brasov
      <br> Phone: 0737894123 / 0268362891
    </h2>
    <h3 id="spatiu"></h3>
    <table>

      <p-dataTable [value]="vets" [scrollable]="true" selectionMode="single" [(selection)]="selectedVet" rows="7" [responsive]="true">

        <p-column field="name" header="Name" [sortable]="true"></p-column>
        <p-column field="surname" header="Surname" [sortable]="true"></p-column>
        <p-column field="telephone" header="Telephone" [sortable]="true"></p-column>
        <p-column field="email" header="E-mail" [sortable]="true"></p-column>
        <p-column field="clinic" header="Clinic" [sortable]="true"></p-column>

        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-star" style="float:center" (click)="showDialogToAdd()" label="Add a vet!"></button>
            <button type="button" pButton icon="fa-minus" style="float:right" (click)="deleteVet()" label="Delete"></button>
          </div>
        </p-footer>
      </p-dataTable>

    </table>

    <p-dialog header="Vet Details" [(visible)]="vetDialog" [responsive]="true" showEffect="fade" appendTo="body" [modal]="true">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="vet">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <label for="name">Name</label>
          </div>
          <div class="ui-grid-col-8">
            <input pInputText id="name" [(ngModel)]="vet.name" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <label for="surname">Surname</label>
          </div>
          <div class="ui-grid-col-8">
            <input pInputText id="surname" [(ngModel)]="vet.surname" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <label for="telephone">Telephone</label>
          </div>
          <div class="ui-grid-col-8">
            <input pInputText id="telephone" [(ngModel)]="vet.telephone" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <label for="email">E-mail</label>
          </div>
          <div class="ui-grid-col-8">
            <input pInputText id="email" [(ngModel)]="vet.email" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <label for="clinic">Clinic</label>
          </div>
          <div class="ui-grid-col-8">
            <input pInputText id="clinic" [(ngModel)]="vet.clinic" />
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
      </p-footer>
    </p-dialog>
  </div>
</div>

