
<style type="text/css">
  .container {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 700px;
  }

  #title {
    text-align: center;
    padding-top: 25px;
    font-size: 65px;
    font-weight: bold;
    color: black;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-shadow: 3px 2px white;

  }

  #date {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
  }

  #back {
    height: 754px;
    margin-top: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://cdn11.g5search.com/assets/399009/huge-WV-6-15-17-Vet-Group-w-JE-2.jpg?1502404533)
  }

  #spatiu {
    height: 100px;
  }

  #tabel {
    margin: auto;
    background-color: white;
    padding: 15px;
    text-align: center;
    width: 70%;
  }

  td, th {
    border: 1px solid black;
    height: 30px;
  }

  tr:nth-child(even) {
    background-color: #b8cbdd;
  }
</style>

<div id="back">
  <h1 id="title"> CONTACT </h1>
  <div class="container">

    <h2 id="date">Adresa: Str. Lunga, nr. 73, Brasov
      <br> Nr. telefon: 0737894123 / 0268362891
    </h2>

    <h3 id="spatiu"></h3>

    <table id="tabel">
      <tr>
        <th>Nume</th>
        <th>Nr. telefon</th>
        <th>Disponibilitate</th>
      </tr>

      <tr>
        <td>Dr. Miruna Arzoiu</td>
        <td>0732637819</td>
        <td>Luni-Miercuri: 10-15</td>
      </tr>

      <tr>
        <td>Dr. Denisa Balta</td>
        <td>0746987513</td>
        <td>Marti-Joi: 15-20</td>
      </tr>

      <tr>
        <td>Dr. Emilia Nica</td>
        <td>0728034976</td>
        <td>Joi-Sambata: 12-17</td>
      </tr>

    </table>


  </div>
</div>


