<style type="text/css">
  .container{
    margin-top:20px;
    margin-bottom:100px;
    width:100%;
    background-color:  rgba(0,0,0, 0.7);
    height: 700px;
  }


  #title{
    text-align:center;
    padding-top: 25px;
    font-size: 65px;
    font-weight: bold;
    color:black;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-shadow: 3px 2px white;
    
  }

  #back{
   height : 754px;
   margin-top: -20px;
   background-size: cover;
   background-repeat: no-repeat;
   background-image:url(https://images3.alphacoders.com/864/864887.jpg)
  }
  

</style>

  <div id="back">
      <h1 id="title"> PICK YOUR BUDDY </h1>
      <div class="container">
        <p><br>
          <font size="6.9" color="white">"If having a soul means being able to<br> feel love and loyalty and gratitude,<br>then animals are better off than a<br> lot of humans!"</font>
        </p>
      
          <table>
            <th height = 390px;>

            </th>
            <tr>
                    <p-dataTable [value]="animals" [scrollable]="true" selectionMode="single" [(selection)]="selectedAnimal"  rows="15" [responsive]="true">
                      
                      <p-column field="type" header="Type" [sortable]="true"></p-column>
                      <p-column field="name" header="Name" [sortable]="true"></p-column>
                      <p-column field="gender" header="Gender" [sortable]="true"></p-column>
                      <p-column field="age" header="Age" [sortable]="true"></p-column>
                      <p-column field="size" header="Size" [sortable]="true"></p-column>
                      <p-column field="vaccines" header="Vaccines" [sortable]="true"></p-column>
                      <p-column field="history" header="History" [sortable]="true"></p-column>
        
                      <p-footer>
                        <div class="ui-helper-clearfix" style="width:100%">
                          <button type="button" pButton icon="fa-star" style="float:right" (click)="delete()" label="Get a pet!">
         
                          </button>  
                        </div>
                      </p-footer>
                    </p-dataTable>
            </tr>
          </table>
          

      </div> 
  </div>


    
  